:root[data-color-scheme='light'] {
    --background-color: #ffffff;
    --nav-text-color: #000000;
    --text-color: #000000;
    --accent-color: #5BCEFA;
    --hover-color: #F5A9B8;
    --border-color: #ccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --note-bg-color: rgba(44, 132, 250, 0.2);
    --note-border-color: #183385;
}

/* Dark mode overrides */
:root[data-color-scheme='dark'] {
    --background-color: #121212;
    --nav-text-color: #000000;
    --text-color: #e0e0e0;
    --accent-color: #5BCEFA;
    --hover-color: #F5A9B8;
    --border-color: #444;
    --shadow-color: rgba(0, 0, 0, 0.6);
    --note-bg-color: rgba(44, 132, 250, 0.1);
    --note-border-color: #5BCEFA;
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}


h1, h2 {
    text-transform: uppercase;
    border-bottom: 2px solid #087ed8;
    padding-bottom: 5px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.contact {
    text-align: center;
}

.contact a {
    color: #007BFF;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.subheading {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.details {
    font-style: italic;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Navigation bar styling */
.navbar {
    background-color: var(--accent-color);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
}

.navbar a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    text-align: center;
    flex: 1;
    max-width: 200px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    border-radius: 8px;
}

.current {
    background-color: #F5A9B8;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
